.el-1 {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.el-2 {
  display: flex;
  flex-direction: row;
  gap: 6rem;
}
.el-3 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.inpt-fill, .inpt-stroke, .inpt-fill-disabled, .inpt-stroke-disabled {
  width: 150px;
}
.slct-fill, .slct-stroke, .slct-fill-disabled, .slct-stroke-disabled {
  width: 200px;
}
.all {
  flex-flow: row wrap;
}